@import "tailwindcss";

@layer components {
  .case-desc {
    @apply mt-4 text-base leading-relaxed text-zinc-600
           transition-colors duration-300
           group-hover:text-zinc-200;
  }
  .case-heading {
    @apply font-serif text-[22px] lg:text-2xl font-bold text-black transition-colors duration-300 group-hover:text-white;
  }
  .case-card {
    @apply lg:relative sticky overflow-hidden rounded-2xl p-4 lg:p-8 shadow-xl;
  }

  .case-highlight {
    @apply rounded bg-zinc-100 px-1.5 py-0.5 font-bold text-black;
  }
  .metric-div {
    @apply absolute right-1 lg:right-4 top-2 text-center;
  }
  .metric-pera {
    @apply text-[45px] font-black text-[#ffaa17];
    -webkit-text-stroke: 2px #ffaa17;
  }

  .metric-span {
    @apply text-[40px] lg:text-5xl;
  }
  .metric-lead {
    @apply text-sm -mt-2 lg:mt-0 uppercase tracking-wide font-bold text-black group-hover:text-white transition;
  }
  .img-position {
    @apply pointer-events-none absolute z-20 -right-10 opacity-0 transition-opacity duration-300 h-100 -top-12 group-hover:opacity-100;
  }
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/merriweather/Merriweather-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/figtree/Figtree.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

:root {
  --font-sans: "Figtree", sans-serif;
  --font-serif: "Merriweather", serif;
  --yellow-emarketing: #ffaa17;
}

.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.phone-input input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #d4d4d8;
  padding: 0 12px;
  font-size: 15px;
}

.phone-input input:focus {
  outline: none;
  border-color: #eab308;
}

@media (max-width: 767px) {
  .cardboxdb {
    position: sticky;
    border: rgba(0, 0, 0, 0.37) 1px solid;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: white;
    min-height: 275px;
  }

  .cardsticky1 {
    top: 50px;
    z-index: 1;
  }
  .cardsticky2 {
    top: 60px;
    z-index: 2;
  }
  .cardsticky3 {
    top: 70px;
    z-index: 3;
  }
  .cardsticky4 {
    top: 80px;
    z-index: 4;
  }
  .cardsticky5 {
    top: 90px;
    z-index: 5;
  }
  .cardsticky6 {
    top: 100px;
    z-index: 6;
  }
  .cardsticky7 {
    top: 110px;
    z-index: 7;
  }
  .cardsticky8 {
    top: 120px;
    z-index: 8;
  }

  .cardsticky9 {
    top: 130px;
    z-index: 50;
  }
}

.main-scroll-container {
  display: block;

  overflow-x: clip;
  width: 100%;
}
